<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>add new</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Update Product</h1>
		<div class="row">
			<!--  object tuong ung voi attribute gui len controller  -->
			<form action="#" th:action="@{/admin/product/update/{id}(id=${product.id})}" th:object="${product}"
				method="POST">

				<!--  field tuong ung voi thuoc tinh trong Entity chu k phai giong trong db  -->
				<div class="row">
					<div class="form-group col-md-8">
						<label for="name" class="col-form-label">Name</label> <input
							type="text" th:field="*{product_name}" class="form-control"
							placeholder="Name"> 
					</div>
					<div class="form-group col-md-8">
						<label for="email" class="col-form-label">des </label> <input
							type="text" th:field="*{description}" class="form-control" 
							placeholder="description"> 
					</div>

					<div class="form-group col-md-8">
						<label for="phoneNo" class="col-form-label">product_imageo</label> <input
							type="text" th:field="*{product_image}" class="form-control"
							 placeholder="product_image"> 
					</div>
					<div class="form-group col-md-8">
						<label for="phoneNo" class="col-form-label">price</label> <input
							type="text" th:field="*{price}" class="form-control"
							 placeholder="price"> 
					</div>
					<div class="form-group col-md-8">
						<label for="phoneNo" class="col-form-label">quantity</label> <input
							type="text" th:field="*{quantity}" class="form-control"
							 placeholder="quantity"> 
					</div>
					<div class="form-group col-md-8">
						<label for="phoneNo" class="col-form-label">category cai tinh tinh sau </label> <input
							type="text" th:field="*{category}" class="form-control"
							 placeholder="1"> 
					</div>

					<div class="col-md-6">
						<input type="submit" class="btn btn-primary" value="Update">
					</div>

					<div class="form-group col-md-8"></div>

				</div>
			</form>

			<hr>

			<a th:href="@{/admin/home}"> Back to Home</a>
		</div>
</body>
</html>